.button {
  background-color: rgb(255, 0, 0); /* Green */
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.cancelbutton {
border-radius:5px;
    background-color: white;
height: 30px;
  width: 100px; 
    color: black; 
    border: 2px solid rgb(252, 0, 0);
  }
  
  .cancelbutton:hover {
height: 30px;
  width: 100px; 
    background-color: rgb(255, 0, 0);
    color: white;
  }