.slideshow-container {
    max-width: 1680px;
    position: relative;
    margin: auto
}

.mySlides {
   
  height: 280px;
 
  border: solid 1px black;

     
}
.mySlides img{
 height: 100%;
 width: 100%; 
 cursor: pointer;
  
}

.prev,
.next {
   
    cursor: default;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #222428;
    font-weight: bold;
    font-size: 30px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0
}

.next {
    right: 0px;
    border-radius: 3px 3px 3px 3px
}

.prev {
    
    border-radius: 3px 3px 3px 3px
}

.prev:hover,
.next:hover {
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.8)
}

